*{
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

.navColor{
    background-image: 
    linear-gradient(to right, rgba(190, 232, 232, 0.647) ,rgb(0, 0, 0), rgb(190, 232, 232, 0.647) );

}
/* ////////////////////////////////////////////////////// */

.section1 video{
    width: 100%;
    opacity: 0.5;
    
}

.section1{
    position: relative;
    background-color: black;
}

.section1 div{
    position: absolute;
    color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.section1 h1{
    font-size: 30px;
    font-weight: bold;
}

.section1 a{
    text-decoration: none;
    color: white;
}

.section1 a:hover{
    color: white;
}

.section1 button{
    margin-top: -5%;
    font-size: 17px;
    padding: 2% 3%;
    border: none;
    border-radius: 5px;
    background-color:#dbd255d7;
}

.center
{
    justify-content: center;
}

/* ////////////////////////////////////////////////////// */

button:hover
{
    color: black;
    background-color: rgb(190, 232, 232);
}



/* ////////////////////////////////////////////////////// */


.section2{
    margin-top: -0.5%;
    padding: 2% 10%;
    background-image: linear-gradient(black,  antiquewhite , black);
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section2  img{
    width: 35%;
    border-radius: 30px; 
}

.section2 p{
    width: 60%;
    color: rgb(21, 193, 231);
    background-color: rgba(0, 0, 0, 0.414);
    border-radius: 5%;
}

.section2 h1{
    font-size: 30px;
    font-weight: bold;
}

.section2 button{
    font-size: 17px;
    padding: 1% 3%;
    border: none;
    border-radius: 5px;
    background-color:#dbd255d7;
}

.section2 button:hover
{
    color: black;
    background-color: rgb(190, 232, 232);
}


/* ////////////////////////////////////////////////////// */
.section3
{
    margin-top: -0.5%;
    padding: 2% 10%;
    background-image: linear-gradient(black,  antiquewhite , black);
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.section3 h2{
    color: black;
}

.section3 button{
    font-size: 20px;
    padding: 5% 10%;
    margin-left: 22%;
    border: none;
    border-radius: 5px;
    background-color:#dbd255d7;
}

.section3 button:hover
{
    color: black;
    background-color: rgb(190, 232, 232);
}
#child{
    width: 18rem;
    height:42rem ;
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.454);
}
.section3 div{
    justify-content: center;
}

#child:hover{
    transform: scale(1.03);
    cursor: pointer;
    transition:0.5s;
}

#colorr
{
    background-color: rgb(29, 30, 23);
    color: rgb(248, 240, 230);
}
#colorr:hover
{
    background-color: rgb(8, 8, 7);
}

/* ////////////////////////////////////////////////////// */

footer{
    background-image:linear-gradient( rgb(0, 0, 0),  antiquewhite , rgba(0, 0, 0, 0.843) );  
    color: black;
    font-size: 20px;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-f{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a,
footer a:hover{
    color: black;
}
